<h1>Criar Produto</h1>
<form action="/products/create" method="POST">
    <div class="form-control">
        <label for="nome">Nome do Produto:</label>
        <input type="text" name="nome" placeholder="Digite o nome do produto">
    </div>
    <div class="form-control">
        <label for="preco">Preço do Produto:</label>
        <input type="text" name="preco" placeholder="Digite o preço do produto">
    </div>
    <div class="form-control">
        <label for="descricao">Descrição:</label>
        <textarea name="descricao" placeholder="Descrição do produto"></textarea>
    </div>
    <input type="submit" value="Cadastrar" class="btn" >
</form>